* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.corousel {
  display: flex;
  justify-content: center;
}
.corousel .slide {
  height: 50vh;
}

.corousel .slide img {
  max-height: 100%;
  width: auto;
}
.image {
  margin: 0 auto;
  height: 100%;
  width:auto;
}

@media only screen and (max-width:1200px){
  .corousel{
    height:80vh;
  }
  .corousel .slide img{
    margin: 10vh auto;
    width:100vw;
  }
}
@media only screen and (max-width:800px){
  .corousel{
    height:80vh;
  }
  .corousel .slide img{
    margin: 10vh auto;
    width:100vw;
  }
}